<h2>Авторизация</h2>

<form method="post">
    <label>Название Email</label> <br />
    <input type="text" /> <br />
    <br />
    <label>Пароль</label> <br />
    <input type="password" /> <br />

    <input type="submit" value="Отправить" />
</form>

<a>Назад</a>