@model User
<h2>Регистрация</h2>

<form method="post">
    <label asp-for="Name">Email</label> <br />
    <input type="text" asp-for="Name" /> <br />
    <br />
    <label asp-for="Password">Пароль</label> <br />
    <input type="password" asp-for="Password" /> <br />

    <input type="submit" value="Отправить"/>
</form>

<a asp-route="Main">Назад</a>