<h2>Регистрация</h2>

<form method="post">
    <label>Email</label> <br />
    <input type="text" /> <br />
    <br />
    <label>Пароль</label> <br />
    <input type="password" /> <br />

    <input type="submit" value="Отправить"/>
</form>

<a>Назад</a>